{% extends 'resources/basic.html' %}


{% block title %}BACK-END Resourses{% endblock title %}
{% block hero1 %}Learn BACK-END{% endblock hero1 %}
{% block hero2 %}From Basics to Advance{% endblock hero2 %}
{% block hero3 %}Chalo ye toh theek hai, Ab Salary Kitni loge ye discuss kr le{% endblock hero3 %}
{% block heroYoutube_link %}https://www.youtube.com/embed/ntLJmHOJ0ME{% endblock heroYoutube_link %}
{% block sec1 %}Java Roadmap - Basics to Advance{% endblock sec1 %}
{% block sec2 %}Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et. Inventore et et dolor consequatur itaque ut voluptate sed et. Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.{% endblock sec2 %}
{% block sec3_roadmap_link %}#{% endblock sec3_roadmap_link %}
      
