<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CodeBusters - {% block title %}{% endblock title %}</title>
  <meta content="" name="description">

  <meta content="" name="keywords">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  <!-- Favicons -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  {% load static %}
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.2/dist/boxicons.js' rel='stylesheet'>
  


  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
  <style>
  {% block style %}{% endblock style %}
  .feadback-btn{
    background-color: #8960eb57;
   }
   .feadback-btn:hover{
    background-color:#8a60eb98 ;
    cursor: pointer;
    border: none;
   }
   .signin{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
  }
  #popup{
      position:fixed;
      top:40%;
      left:50%;
      transform:translate(-50%,-50%);
      width: auto;
      padding: 60px;
      box-shadow:0 5px 30px rgba(0, 0, 0, 30);
      background: #fefefe;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
  }

  #popup.blur{
    top:50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
   
  }
  .navbar .getstarted,
.navbar .getstarted:focus {
  background: #8a60eb6c;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #000000;
  background: #8a60ebad;
}
/* ---------------------------------- */
 .popup .container{
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(20px,1fr));
    grid-gap: 50px;
 }

 .signll{
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc; 
  box-sizing: border-box;
 }
 .loginbtn{
  background-color:#94cc33
 }
 .popup h1{margin: 8px 36%; 
background-color:white;}
 

/*set the display image inside the container*/
.imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
/*set image properties*/
img.avatar{
    width: 30%;
    height:auto;
    border-radius: 50%;
    border: 8px solid #edebec;
}
.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
 
 .popup .modal-content{
    background-color: #fefefe;
    margin:  5% auto 15% auto;  
 
    border: 1px solid #888;
    width: 400px;
    border: 6px solid #edebec;
}
  .popup button{
     background-color: #4caf50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
 }
 /* set a hover effect for the button*/
 .popup  button:hover{
     opacity: 0.8;
 }

  </style>
</head>

<body>
  <div class="container" id="blur">
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'main_homepage' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span>CodeBuster</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'main_homepage' %}">Home</a></li>
          <!-- <li><a href="#">About Us</a></li> -->
          <li><a class="nav-link scrollto" href="{% url 'main_homepage' %}#features">Resourses</a></li>
          <li><a class="nav-link scrollto" href="{% url 'main_homepage' %}#recent-blog-posts">Community</a></li>
          <li><a class="nav-link scrollto" href="{% url 'career' %}">Opportunities</a></li>
          <!-- <li><a class="nav-link scrollto" href="#about">Our Courses</a></li> -->
          <li class="dropdown"><a href="#"><span>Our Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="{% url 'javaR' %}">Java</a></li>
                <li><a href="{% url 'pythonR' %}">Python</a></li>
                <li><a href="{% url 'C_langR' %}">C++</a></li>
                <li class="dropdown"><a href="#"><span>Web Development</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="{% url 'frontendR' %}">Front-End</a></li>
                    <li><a href="{% url 'backendR' %}">Back-End</a></li>
                </ul>
              </li>
            </ul>
          </li>
<!------------------------ signin feature  ------------------------------------------>

          <li class="dropdown">
            {% if username is None and user.is_authenticated%}
            <a class="getstarted">{{user.username}}</a>
            <ul>
              <li><a href="{% url 'signout' %}">Sign Out</a></li>
              <li ><a href="{% url 'signup' %}">Create New User</a></li>
            </ul>
              
            </li>
            {% elif user.is_authenticated %}     
              <a class="getstarted" href="#" >{{username}}</a>
            {% else %}            
            <a class="getstarted" href="#" onClick="toggle_sign_in()">Sign In </a>
            {% endif %}

          </li>

<!------------------------ XX  signin feature  XX ------------------------------------------>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dissmissible fade show" style="width: 50%;left: 50%;" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-lable="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endfor%}
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">{% block hero1 %}{% endblock hero1 %}</h1>
          <h1 data-aos="fade-up" class="h1-second" style="
          color: #5848ea;">{% block hero2 %}{% endblock hero2 %}</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">{% block hero3 %}{% endblock hero3 %}</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Start Learning</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/laptop-frame1.png' %}" class="img-fluid" alt="">
          <iframe class="java-video-element " width="520" height="255" src="{% block heroYoutube_link %}{% endblock heroYoutube_link %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          
          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
           
            <img src="{% static 'assets/img/java-resourses/downlode-resourses.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <!-- <h3>Java Roadmap</h3> -->
              <h2>{% block sec1 %}{% endblock sec1 %}</h2>
              <p>
                {% block sec2 %}{% endblock sec2 %}
              </p>
              <div class="text-center text-lg-start">
                <!-- <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"> -->
                <a download="" href="{% block sec3_roadmap_link %}{% endblock sec3_roadmap_link %}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Download</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End About Section -->


    <!-- ======= Features Section ======= -->
<section id="features" class="features">

  <div class="container" data-aos="fade-up">

    <header  class="section-header">
      <!-- <div id="reffer" class="reffer"> -->
      <div class="col-lg-12 mt-5 mt-lg-2 d-flex reffer">
      <ul class="row align-self-center gy-2">
        {% for feature in categories %}
        <li class="col-md-2 reffer-box " data-aos="zoom-out" data-aos-delay="200"><a href="#{{feature}}">{{feature}}</a></li>
        {% endfor %}
    </header>
    {% for resourses,category in all_res_content %}
    <header id="{{category}}" class="section-header">
      <p>{{category}}</p>
    </header>
    <div>

      <div class="col-lg-12 mt-5 mt-lg-2 d-flex" >
        <div class="row align-self-center gy-4">
          {% for res in resourses %}
          <div class="col-md-3" data-aos="zoom-out" data-aos-delay="200" style="width: auto;">
            <div class="feature-box d-flex align-items-center">
              <img class="explore-icons" src="{{res.image.url}}" alt="">
              {% if user.is_authenticated %}
                  <a href="{{res.url}}" target="_blank"><h3>Resourse -{{forloop.counter}}</h3></a>
              {% else %}
                  <a href="#" onClick="toggle_sign_in()"><h3>Resourse -{{forloop.counter}}</h3></a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>

    </div> 
    {% endfor %}
    <!-- / row --> 
        

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-6">
  
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>A108 Adam Street,<br>New York, NY 535022</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com<br>contact@example.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <!-- feadback form -->
            <form method="POST">
              {% csrf_token %}
              <div class="row gy-4">
                <div class="col-md-6">
                  <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 ">
                  <input type="email" id="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>
                <div class="col-md-12">
                  <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject" required>
                </div>
                <div class="col-md-12">
                  <textarea class="form-control" id="message" name="message" placeholder="Leave a message" "></textarea>                </div>

                  <button type="submit" class="btn feadback-btn" value="OK">Post </button>
                </div>

              </div>
            </form>
  
            </div>
          </div>
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
  
      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="{url 'main_homepage'}" class="logo d-flex align-items-center">
                <img src="{% static 'assets/img/logo.png' %}" alt="">
                <span>CodeBuster</span>
              </a>
              <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
  
            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="{% url 'main_homepage' %}">Home</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="{% url 'main_homepage' %}">About us</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-2 col-6 footer-links">
              <h4>Our Courses</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="{% url 'javaR' %}">Java</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="{% url 'pythonR' %}">Python</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="{% url 'backendR' %}">Web development</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="{% url 'C_langR' %}">C++</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="{% url 'main_homepage' %}">Graphic Design</a></li>
              </ul>
            </div>
  
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>CodeBuster</span></strong>. All Rights Reserved
        </div>
        
      </div>
    </footer><!-- End Footer -->
  
    <!-- arrow UP key -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  </div>

  <div id="popup">
    <form action="{% url 'signin'%}" method="POST" class="modal-content animate">
        {% csrf_token %}
			<div class="imgcontainer"> 
        <a class="getstarted" href="#" onClick="toggle_sign_in()"><i class='bx bx-cross bx-tada bx-rotate-270' 
          style=" 
            font-size: 20px;  
            position: fixed;
            display: flex;
            align-items: flex-end;
            left: 80%;
            top: 4%;
            border: 3px dashed #b1a5d4;
            border-radius: 50%;">
            </i> </a>
            <img src= "{% static 'assets/img/team/user.png' %}" alt="Avatar" class="avatar"> 
			</div> 

				<label><b>Username</b></label> 
				<input type="text" class="signll" placeholder="Enter Username" name="username" required> 

				<label><b>Password</b></label> 
				<input type="password" class="signll" placeholder="Enter Password" name="password" required> 

				<button type="submit" class="signll loginbtn" value="Sign In">Login</button> 
        <div class="signup" style="display: grid;grid-template-columns: max-content;">
          <span>
            Create an account <a href="{% url 'signup' %}">Sign Up</a>
          </span>
        </div>
		</form> 

    
  </div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  
    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script>
      // sign in pop over
      
      function toggle_sign_in(){
        var blur =document.getElementById('blur');
        blur.classList.toggle('signin');
        var popup =document.getElementById('popup');
        popup.classList.toggle('blur');
      }
      {% if user.is_authenticated %}
      {% else %}
      alert('You are not authenticated . Redirected to Home Page');
      location.replace("{% url 'main_homepage' %}");
      {% endif %}
  
    </script>
  </body>
  
  </html>





























  